.item-preview h2 {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 20px;
  line-height: 32.64px;
  color: #282C31;
}
.item-preview li {
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  color: #282C31;
}
app-button {
  float: right;
}
