<div class="item-preview">
  <h2>{{article.title}}</h2>
  <ul>
    <li *ngFor="let description of article.descriptions">{{description}}</li>
  </ul>
  <app-button [label]="article.buttonLabel"></app-button>
</div>
