<div class="chart-wrapper">
  <canvas baseChart
          (chartClick)="onChartClick($event)"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
