footer {
  display: flex;
  padding: 2rem 1rem 4rem 4rem;
  justify-content: space-between;
  gap: 2rem;
  background: #373737;
  flex-wrap: wrap;
}

.footer-info-column-blocks {
  display: flex;
  gap: 3rem;
}

.footer-info-column-block ul {
  padding: 0;
}

.footer-info-column-block li {
  list-style: none;
}

.footer-info-column-block .title p,
.footer-support-column-block .title p:first-child {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}

.footer-info-column-block .columns {
  display: flex;
  gap: 2.5rem;
}

.footer-info-column-block .columns > ul > li {
  font-family: 'futura-now-text', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}
.footer-info-column-block .columns > ul > li:first-child,
.footer-info-column-block .columns > ul > li:last-child {
  font-family: 'futura-now-headline', sans-serif;
}

.footer-support-column-block .title > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-support-column-block p {
  font-family: 'futura-now-text', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}

.footer-support-column-block .title > div img {
  width: 23px;
  height: 23px;
}

.footer-support-column-block .title > div > p a {
  font-family: 'futura-now-headline', sans-serif;
  color: #ffffff;
}

.footer-support-column-block .version-info p {
  font-family: 'futura-now-headline', sans-serif;
}

.footer-support-column-block .version-info {
  display: flex;
  gap: 0.5rem;
}

a.site-logo {
  display: block;
  text-decoration: none;
}

.site-logo p {
  margin: 0;
}
.site-logo p:first-child {
  text-transform: uppercase;
  font-family: 'futura-now-headline', sans-serif;
  font-size: 29px;
  line-height: 47.33px;
  letter-spacing: .02rem;
  color: #ffffff;
}
.site-logo p:last-child {
  font-family: 'futura-now-text', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  footer {
    padding: 2rem 4rem 4rem;
  }
  .footer-info-column-blocks {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  .footer-info-column-blocks {
    order: 1;
  }
  .footer-support-column-block {
    order: 3;
    flex: 50%;
  }
  .footer-brand-block {
    order: 2;
  }
}

@media (max-width: 768px) {
  .footer-support-column-block {
    order: 2;
  }
  .footer-brand-block {
    order: 3;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 2rem 2rem 4rem;
    flex-direction: column;
  }
  .footer-info-column-blocks {
    flex: unset;
  }
  .footer-info-column-block .columns {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {}
