<footer>
  <div class="footer-info-column-blocks">
    <div class="footer-info-column-block">
      <div class="title">
        <p>For general enquiries</p>
      </div>
      <div class="columns">
        <ul>
          <li>Lorem IPSUM</li>
          <li>Lorem Ipstum Director</li>
          <li>lorem.ipsum@mail.com</li>
        </ul>
        <ul>
          <li>Lorem IPSUM</li>
          <li>Lorem Ipstum Manager</li>
          <li>lorem.ipsum@mail.com</li>
        </ul>
        <ul>
          <li>Lorem IPSUM</li>
          <li>Lorem Ipstum Analyst</li>
          <li>lorem.ipsum@mail.com</li>
        </ul>
      </div>
    </div>
    <div class="footer-info-column-block">
      <div class="title">
        <p>For technical enquiries</p>
      </div>
      <div class="columns">
        <ul>
          <li>Lorem IPSUM</li>
          <li>Lorem Ipstum Director</li>
          <li>lorem.ipsum@mail.com</li>
        </ul>
        <ul>
          <li>Lorem IPSUM</li>
          <li>Lorem Ipstum Director</li>
          <li>lorem.ipsum@mail.com</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-support-column-block">
    <div class="title">
      <p>Support</p>
      <div>
        <img src="{{supportLogo}}" alt="Support logo">
        <p>Find support on <a href="#">webexteams</a></p>
      </div>
    </div>
    <div class="version-info">
      <p>Version</p>
      <p>Release 2.3</p>
    </div>
  </div>
  <div class="footer-brand-block">
    <a href="#" class="site-logo">
      <p>brand</p>
      <p>my awesome app</p>
    </a>
  </div>
</footer>
