
 div {
   position: relative;
   width: fit-content;
 }

 input {
   height: 40px;
   padding: 1px 8px;
   border: 1px solid var(--Grey-2, #4D4D4D);
 }

 app-search-icon {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   margin: auto 6px auto 0;
   height: fit-content;
 }

 .input-icon-style {
   padding: 0 28px 0 8px;
 }
