<div>
  <input type="text" [ngStyle]="{width}" [ngClass]="icon === 'search' ? 'input-icon-style' : ''" [(ngModel)]="input" (input)="onChange()">
  <ng-container [ngSwitch]="icon">
    <app-search-icon *ngSwitchCase="'search'"></app-search-icon>
  </ng-container>
</div>
