<header class="topnav" id="myTopnav">
  <div class="left-side">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li class="myspace">
          <span class="online-light"></span>
          <div><img src="{{profilePicture}}" alt="profil picture"></div>
          <p>My space</p>
        </li>
        <li class="workspace">
          <app-folder-outline-icon color="#373737"></app-folder-outline-icon>
          <p>Workspace</p>
        </li>
        <div class="nav-elements">
          <div>
            <p>Lorem ipsum</p>
            <p>Active link</p>
          </div>
          <ul class="nav-links">
            <li class="active">
              <a>Select 1 <app-chevron-down-icon color="#69C4D4"></app-chevron-down-icon></a>
              <div class="line-under-active-element"></div>
            </li>
            <li>
              <a>Select 2 <app-chevron-down-icon color="white"></app-chevron-down-icon></a>
              <div class="line-under-active-element"></div>
            </li>
          </ul>
        </div>
      </ul>
    </div>
    <a href="#" class="site-logo">
      <p>brand</p>
      <p>my awesome app</p>
    </a>
    <div class="nav-elements">
      <div>
        <app-home-icon color="white"></app-home-icon>
        <span>|</span>
        <p>Lorem ipsum</p>
        <p>Active link</p>
        <span>|</span>
      </div>
      <ul class="nav-links">
        <li class="active">
          <a>Select 1 <app-chevron-down-icon color="#69C4D4"></app-chevron-down-icon></a>
        </li>
        <li>
          <a>Select 2 <app-chevron-down-icon color="white"></app-chevron-down-icon></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <div class="navbar-tools">
      <div class="navbar-tool">
        <app-search-icon color="white"></app-search-icon>
        <p>Search</p>
      </div>
      <div class="navbar-tool">
        <app-help-circle-icon color="white"></app-help-circle-icon>
        <p>Help</p>
      </div>
    </div>
    <div class="workspace">
      <app-folder-outline-icon color="#373737"></app-folder-outline-icon>
      <p>Workspace</p>
    </div>
    <div class="myspace">
      <span class="online-light"></span>
      <div><img src="{{profilePicture}}" alt="profile picture"></div>
      <p>My space</p>
    </div>
  </div>
</header>
