ul.nav-links,
p {
  padding: 0;
  margin: 0;
}

header {
  background: #373737;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 0 0 3rem;
  justify-content: space-between;
}

header a {
  display: block;
  text-decoration: none;
}

header .left-side,
header .right-side {
  display: flex;
  align-items: center;
  height: 80px;
}
header .right-side {
  overflow: hidden;
}

#menuToggle {
  display: none;
}

.burger-menu {
  display: none;
}

.site-logo p {
  margin: 0;
}
.site-logo p:first-child {
  text-transform: uppercase;
  font-family: 'futura-now-headline', sans-serif;
  font-size: 29px;
  line-height: 47.33px;
  letter-spacing: .02rem;
  color: #ffffff;
}
.site-logo p:last-child {
  font-family: 'futura-now-text', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}

.left-side .nav-links,
.left-side .nav-elements,
.left-side .nav-elements > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.left-side .nav-elements {
  margin: 0 0 0 3rem;
}

.left-side .nav-elements p,
.left-side .nav-links li {
  list-style: none;
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  letter-spacing: .02rem;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  padding: 0.5rem 0;
}
.left-side .nav-elements span {
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.left-side .nav-elements > div p:nth-of-type(2) {
  font-family: 'futura-now-text-italic', sans-serif;
  color: #FFFFFFB2;
}
.left-side .nav-links li.active {
  color: #69C4D4;
}
.left-side .nav-links li a {
  display: flex;
  gap: 0.5rem;
}
.left-side .nav-links li.active {
  border-bottom: solid 2px #69C4D4;
}

.navbar-tools {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
  gap: 1rem;
}

.navbar-tool {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.navbar-tool p {
  font-family: 'futura-now-text', sans-serif;
  font-size: 12px;
  line-height: 19.58px;
  letter-spacing: .02rem;
  color: #ffffff;
}

.workspace,
.myspace {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.workspace p,
.myspace p {
  margin: 0;
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  color: #373737;
}

.workspace {
  background: #B4E2EA;
  padding: 2rem 1rem;
}

.myspace {
  background: #D2EDF2;
  padding: 2rem;
}
.myspace > div {
  width: 40px;
  height: 40px;
  border-radius: 50rem;
  overflow: hidden;
}
.myspace > span.online-light {
  width: 12px;
  height: 12px;
  border-radius: 50rem;
  background: #13A061;
  position: absolute;
  top: .15rem;
  right: 2.2rem
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .navbar-tool p,
  .right-side .workspace p,
  .right-side .myspace p {
    display: none;
  }

  .navbar-tools {
    gap: 2rem;
  }

  .myspace > span.online-light {
    top: 1rem;
    right: 1.8rem;
  }
}

@media (max-width: 992px) {
  header {
    height: 120px;
    padding: 0 0 0 2rem;
  }

  .left-side .nav-elements {
    margin: 0 0 0 2rem;
    flex-direction: column;
  }

  .navbar-tools {
    margin: 0 2rem 0 2.5rem;
  }

  header .right-side {
    height: 120px;
  }

  .workspace,
  .myspace {
    padding: 4rem 2rem;
  }
  .myspace > div {
    width: 50px;
    height: 50px;
  }
  .myspace > div img {
    width: inherit;
  }
  .myspace > span.online-light {
    top: 2rem;
    right: 1.8rem;
  }
}

@media (max-width: 768px) {
  header .left-side {
    gap: 2rem;
  }

  .right-side .workspace,
  .right-side .myspace {
    display: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    top: -4px;
    left: -10px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle > span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0 0;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu
  {
    position: absolute;
    width: 340px;
    height: 650px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 125px 0 50px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    list-style-type: none;
  }

  #menu li
  {
    padding: 10px 3rem;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  header {
    height: 80px;
  }

  .left-side .nav-elements:not(#menu .nav-elements) {
    display: none;
  }

  #menu .nav-elements p,
  #menu .nav-links li {
    color: #282C31;
  }

  .workspace {
    padding: 2rem 1rem;
  }

  .myspace {
    padding: 2rem;
  }

  .myspace > div {
    width: 40px;
    height: 40px;
  }
  .myspace > span.online-light {
    top: 8.5rem;
    right: 9.2rem;
  }

  .left-side .nav-links,
  .left-side .nav-elements > div {
    flex-direction: column;
    gap: 2rem;
  }

  .left-side .nav-elements {
    margin: 2rem 0 0 2rem;
    gap: 2rem;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 480px) {}
