

.breadcrumb {
  position: fixed;
  background: #3D3D3D;
  width: fit-content;
  font-size: 16px;
  line-height: 19.58px;
  display: flex;
  padding: .4rem 2rem .4rem 4rem;
  align-items: center;
  gap: 1rem;
  z-index: 99;
}
.breadcrumb p:not(:last-child) {
  font-family: 'futura-now-text', sans-serif;
  text-decoration: underline;
  color: #D2EDF2;
}
.breadcrumb p:last-child {
  font-family: 'futura-now-headline', sans-serif;
  color: #69C4D4;
}

.headline-interaction {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 30px;
  line-height: 49px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem 0 0 4rem;
}

.headline-quote {
  background: #ffffff;
  padding-left: 4rem;
  width: 60%;
  color: #282C31;
  display: flex;
  gap: 2rem;
  align-items: center;
}
.headline-quote p {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 40px;
  line-height: 65px;
  margin: 1rem 0;
}
.headline-quote span {
  font-family: 'galada', sans-serif;
  font-size: 106px;
  line-height: 172.46px;
}

.article-previews {
  display: flex;
  gap: 2rem;
  margin: 0 2rem 0;
  transform: translateY(6rem);
}
.article-previews app-article-preview {
  width: 50%;
}

.item-previews {
  display: flex;
  gap: 2%;
  background: rgba(218, 219, 211, 0.2) 20%;
  padding: 2rem;
}

.described-article {
  padding: 2rem;
}

.article-header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.article-header h2 {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 20px;
  line-height: 32.64px;
  color: #282C31;
}

.article-details img {
  float: left;
  margin: 0 1rem 1rem 0;
}
.article-details h3 {
  font-weight: normal;
  font-family: 'futura-now-text', sans-serif;
  font-size: 16px;
  line-height: 26.11px;
  color: #282C31;
}

.article-details p {
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  color: #282C31;
}

.article-resume {
  overflow: hidden;
  height: 290px;
}

.read-more-article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.read-more-article button {
  border: none;
  background: transparent;
  font-family: 'futura-now-headline', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  color: #549DAA;
  text-decoration: underline;
  display: flex;
  align-items: stretch;
}

.read-more-article button app-arrow-forward-icon {
  margin-right: 8px;
}

.business-intelligence {
  background: rgba(216,216,216, 0.3);
  padding: .1rem 2rem;
}

.business-intelligence > h1 {
  color: var(--Grey-1, #282C31);
  font-family: 'futura-now-headline', sans-serif;
  font-size: 20px;
  line-height: 32.64px;
}

.chart-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.chart-types > ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.chart-types > ul li {
  list-style: none;
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.85px;
  color: var(--Grey-2, #646465);
  padding: 0 0 0.4rem 0;
}
.chart-types > ul li.selected-chart-type {
  font-family: 'futura-now-headline', sans-serif;
  color: var(--Clearwater-Blue-1, #549DAA);
  border-bottom: solid 2px var(--Clearwater-Blue-1, #549DAA);
}

.chart-filters {
  margin: 1rem 2rem;
  padding: 1rem;
  background: #E6E6E6;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.chart-filters > div:first-child {
  flex-grow: 100;
  flex-basis: auto;
}

.chart-filters > div:last-child {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
}

.filter-label {
  display: flex;
  gap: .4rem;
}
.filter-label > p {
  margin: 0;
  color: #333333;
  font-family: 'futura-now-headline', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
}

.filter-inputs {
  display: flex;
  padding-left: 6rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.chart-filters app-button {

}

.chart-container {
  background: rgba(216,216,216, 0.3);
  margin: 0 2rem 1rem 2rem;
  padding: 1rem;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .article-previews {
    overflow-x: scroll;
    padding: 0 0 2rem 0;
  }
  .article-previews app-article-preview {
    min-width: 660px;
  }

  .item-previews {
    flex-wrap: wrap;
  }
  .item-previews app-article-call-to-action {
    width: 49%;
  }
  .item-previews app-article-call-to-action:nth-last-child(2),
  .item-previews app-article-call-to-action:nth-last-child(1) {
    margin-top: 2rem;
  }
}

@media (max-width: 992px) {
  .headline-quote {
    width: unset;
  }
  .article-previews app-article-preview {
    min-width: 500px;
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    position: unset;
    width: unset;
  }

  .headline-quote {
    padding-left: 1rem;
  }

  .article-previews app-article-preview {
    min-width: unset;
  }
}

@media (max-width: 576px) {
  .article-previews {
    transform: translateY(4rem);
  }

  .item-previews app-article-call-to-action {
    width: 100%;
  }

  .article-details img {
    float: unset;
    margin: unset;
    width: 100%;
  }

  .chart-filters {
    align-items: unset;
    flex-direction: column;
  }
  .chart-filters > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .filter-inputs {
    padding-left: unset;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .headline-quote {
    gap: 1rem;
  }
  .headline-quote p {
    font-size: 30px;
    line-height: 50px;
  }

  .article-previews {
    margin: 0 1rem 0;
    transform: translateY(2rem);
  }
}
