<app-header [profilePicture]="'/assets/images/profil-picture.png'"></app-header>
<div class="banner">
  <div class="breadcrumb">
    <p>Home</p>
    <app-chevron-down-icon [direction]="'right'" [color]="'white'"></app-chevron-down-icon>
    <p>Themes</p>
    <app-chevron-down-icon [direction]="'right'" [color]="'white'"></app-chevron-down-icon>
    <p>Lorem ipsum</p>
  </div>
  <div class="headline-interaction">
    <p>Lorem ipsum</p>
    <app-favorite-outline-icon [color]="'white'"></app-favorite-outline-icon>
    <app-comment-outline-icon [color]="'white'"></app-comment-outline-icon>
  </div>
  <div class="headline-quote">
    <span>“</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="article-previews">
    <app-article-preview *ngFor="let Article of articles"
                         [imagePath]="Article.imagePath"
                         [title]=Article.title
                         [description]=Article.description>
    </app-article-preview>
  </div>
</div>
<div class="item-previews">
  <app-article-call-to-action *ngFor="let i of [0, 1, 3, 4]"  [article]="{title: 'Lorem ipsum', descriptions:   [
    'ANunc volutpat nec velit a gravida. Suspendisse imperdiet nisl ac vestibulum elementum.',
    'Nam vehicula eros ut placerat mollis.',
    'Morbi sed risus vel nibh auctor imperdiet et ac leo.'
  ], buttonLabel: 'Go to Lorem ipsum'}"></app-article-call-to-action>
</div>
<div class="described-article">
  <div class="article-header">
    <h2>Lorem</h2>
    <app-select-input [values]="[{label: 'LOREM'}]"></app-select-input>
  </div>
  <div class="article-details" [ngClass]="articleResume ? 'article-resume' : ''">
    <div><img src="assets/images/article-img-03.png" alt="illustration"></div>
    <h3>Lorem Ipsum</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat nec velit a gravida. Suspendisse imperdiet nisl ac vestibulum elementum. Nam vehicula eros ut placerat mollis. Mauris non ultrices neque. Mauris finibus lectus ut turpis dictum, eu convallis lorem laoreet. Vestibulum aliquet augue a sem ornare tempus. Nulla eget porttitor purus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat nec velit a gravida. Suspendisse imperdiet nisl ac vestibulum elementum. Nam vehicula eros ut placerat mollis. Mauris non ultrices neque. Mauris finibus lectus ut turpis dictum, eu convallis lorem laoreet. Vestibulum aliquet augue a sem ornare tempus. Nulla eget porttitor purus.
    </p>
    <p>
      Nam aliquet diam sem, at placerat risus ultrices eget. Fusce vel sapien lorem. Curabitur id tincidunt odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur at nibh consectetur, auctor dui in, sagittis velit. Nulla varius egestas lobortis. Proin aliquam tincidunt eros non condimentum. Morbi sed risus vel nibh auctor imperdiet et ac leo. Nullam posuere sodales turpis, sed ultricies risus hendrerit ut. Maecenas bibendum eleifend quam sit amet accumsan.
      Sed quis felis sed augue fermentum tincidunt vel vel odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget sodales augue. Suspendisse potenti. Morbi sapien purus, facilisis non faucibus vel, laoreet nec tellus. Duis sit amet augue lectus. Nunc tincidunt metus cursus felis lacinia lacinia. Donec aliquet lectus sed eleifend pulvinar.
      Nam aliquet diam sem, at placerat risus ultrices eget.
    </p>
    <ng-container *ngFor="let i of [0,1,2, 4]">
      <h3>Lorem Ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat nec velit a gravida. Suspendisse imperdiet nisl ac vestibulum elementum. Nam vehicula eros ut placerat mollis. Mauris non ultrices neque. Mauris finibus lectus ut turpis dictum, eu convallis lorem laoreet. Vestibulum aliquet augue a sem ornare tempus. Nulla eget porttitor purus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat nec velit a gravida. Suspendisse imperdiet nisl ac vestibulum elementum. Nam vehicula eros ut placerat mollis. Mauris non ultrices neque. Mauris finibus lectus ut turpis dictum, eu convallis lorem laoreet. Vestibulum aliquet augue a sem ornare tempus. Nulla eget porttitor purus.
      </p>
    </ng-container>
  </div>
  <div class="read-more-article">
    <button (click)="resumeArticleToggle()">
      <app-arrow-forward-icon [color]="'#549DAA'" [rotate]="!articleResume"></app-arrow-forward-icon>
      {{ articleResume ? 'Show more' : 'Show less' }}
    </button>
  </div>
</div>
<div class="business-intelligence">
  <h1>Business Intelligence and Insight</h1>
  <div class="chart-buttons">
    <app-button *ngFor="let chart of charts" [label]="chart.label" [width]="'132px'" (clickEvent)="selectChart(chart)"
                [color]="isSelectedChart(chart) ? 'white' : '#646465'" [background]="isSelectedChart(chart) ? '#549DAA': 'transparent'">
    </app-button>
  </div>
  <div class="chart-types">
    <ul>
      <li [ngClass]="isSelectedChartType(chartType) ? 'selected-chart-type' : ''"
          *ngFor="let chartType of getSelectedChartTypes()" (click)="goToChartType(chartType)">
        {{ chartType | titlecase }}
      </li>
    </ul>
  </div>
</div>
<div class="chart-filters">
  <div>
    <div class="filter-label">
      <app-filter-icon></app-filter-icon>
      <p>Filters</p>
    </div>
    <div class="filter-inputs">
      <app-select-input [width]="'170px'" [values]="[{label: 'Global'}, {label: 'EMEA'}, {label: 'EUROPE'}, {label: 'AMAC'}]">
      </app-select-input>
      <app-input [width]="'80px'" [icon]="'search'"></app-input>
      <app-select-input [width]="'112px'" [values]="[{label: 2021}]"></app-select-input>
    </div>
  </div>
  <div><app-button [label]="'Export'" (clickEvent)="exportChart($event)"></app-button></div>
</div>

<swiper-container #firstChartSwiper [ngStyle]="currentChart !== 0 ? {display: 'none'} : {}">
  <swiper-slide>
    <div class="chart-container">
      <app-line-chart [chart]="lineChart"></app-line-chart>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="chart-container">
      <app-bar-chart></app-bar-chart>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="chart-container">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
  </swiper-slide>
</swiper-container>

<swiper-container [ngStyle]="currentChart !== 1 ? {display: 'none'} : {}">
  <swiper-slide>
    <div class="chart-container">
      <app-bubble-chart></app-bubble-chart>
    </div>
  </swiper-slide>
</swiper-container>

<app-footer [supportLogo]="'/assets/images/support-footer-logo.png'"></app-footer>

