<div class="chart-wrapper">
  <canvas baseChart [height]="250"
          [type]="'bar'"
          (chartClick)="onChartClick($event)"
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins">
  </canvas>
</div>
