<div class="chart-wrapper">
  <canvas baseChart
          #chart="base-chart"
          [type]="'bubble'"
          (chartClick)="onChartClick($event)"
          [data]="bubbleChartData"
          [options]="bubbleChartOptions"
          [plugins]="bubbleChartPlugins">
  </canvas>
</div>
