.article-preview {
  height: 339px;
  padding: 2rem 2rem;
  display: flex;
  background: #ffffff;
  /*width: 50%;*/
  gap: 2rem;
}
.article-preview h2 {
  font-family: 'futura-now-headline', sans-serif;
  font-size: 20px;
  line-height: 32.64px;
  color: #282C31;
}
.article-preview > div:nth-child(2) > div {
  font-family: 'futura-now-text', sans-serif;
  font-size: 14px;
  line-height: 22.85px;
  color: #282C31;
}

img {
  width: 206px;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {

  .article-preview {
    padding: .4rem;
    gap: 0;
    flex-direction: column;
    height: 300px;
  }

  .article-preview div:first-of-type {
    position: relative;
    overflow: hidden;
    min-height: 74%;
  }

  .article-preview img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .article-preview > div:nth-child(2) > div {
    display: none;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
  .article-preview {
    height: 290px;
  }

  .article-preview div:first-of-type {
    min-height: 70%;
  }
}
