@font-face
{
  font-family: 'futura-now-headline';
  src: url('/assets/fonts/futura-now/FuturaNowHeadlineMedium.ttf') format('truetype');
}

@font-face
{
  font-family: 'futura-now-text';
  src: url('/assets/fonts/futura-now/FuturaNowHeadline.ttf') format('truetype');
}

@font-face
{
  font-family: 'futura-now-text-italic';
  src: url('/assets/fonts/futura-now/FuturaNowHeadlineItalic.ttf') format('truetype');
}

@font-face
{
  font-family: 'galada';
  src: url('/assets/fonts/galada/Galada-Regular.ttf') format('truetype');
}

body {
  margin: 0;
}

.banner {
  height: 842px;
  background-image: url("/assets/images/banner.png");
  background-size: cover;
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 480px) {}
