<div class="chart-wrapper">
  <canvas baseChart [height]="250"
          #chart="base-chart"
          [type]="'doughnut'"
          (chartClick)="onChartClick($event)"
          [data]="doughnutData"
          [options]="doughnutOptions"
          [plugins]="doughnutChartPlugins"
  >
  </canvas>
</div>
